<h1>Working with multiple upstream branches in Git</h1>

<p>This will be eventually expanded, but for now it's just a quick reference to how I tend to work with different branches upstream. This may only apply to the Inkscape repo on GitLab.</p>

<h3>Fork the project</h3>

<p>First of all we need to fork the project. I'm going to explain this with the Inkscape Documentation repo, but it applies to the main repo and other places too.</p>

<ol>
  <li>In the original project page, click on the <svg class="inline" style="width: 4em"><title>Fork Button</title><use href="#forkbutton" /></svg> button at the top right of the page.</li>
  <li>Enter or edit the information. All of them can be changed, they won't affect the fork relationship between your forked repo and the upstream.<br />
    Note: Be sure the "Branches to include" is set to <b>"All branches"</b>. It's the default so you don't need to worry much.<br /></li>
  <li>Click on the blue <svg class="inline" style="width: 3.7em"><title>Fork Project</title><use href="#forkproject" /></svg> button.</li>
</ol>

<h3>Clone the project to your local computer</h3>

<p>Next we need to get the files to work on, so we'll clone the project down to our own computers.</p>

<ol>
  <li>In the forked project page (where you're redirected to), click on the top-right blue button named <svg class="inline" style="width: 2.7em"><title>Code</title><use href="#code" /></svg>.</li>
  <li>Copy the text under "Clone with SSH". When you click on the textbox the text should be automatically selected, so just press Ctrl+C.</li>
  <li>Open a terminal, navigate to your desired directory, then type <code>git clone</code> with a space after it, then press Ctrl+Shift+V to paste the copied direction into the terminal.</li>
  <li>Wait for the command to finish. After it does, enter <code>cd &lt;project name&gt;</code> to go into the project directory. In this case it's <code>cd documentation</code>.</li>
</ol>

<h3>Make sure branches are available</h3>

<p>Now that we're in the project repo, the first thing is to make sure all the branches worked on are available. In the case of the Inkscape Docs repo, there are two branches that are supposed to be worked on, the master branch and the stable bugfix branch (as of writing it is "1.4.x"):</p>

<ol>
  <li>Enter <code>git branch</code> to check if any branch is available. They shouldn't be at this point, and there is only a branch named "master".</li>
  <li>Next, type in <code>git switch 1.4.x</code>. It should switch normally, and you'd now have two branches: master and 1.4.x.</li>
</ol>

<h3>Feature branches</h3>

<p>When doing anything to the branches, you won't want to do them directly on the branches themselves, as you would only develop one feature at a time this way, and it affects the ability to git pull (merge commits will pop up). That's why we should branch out first.</p>

<ol>
  <li>Switch back to the master branch:<br /><pre><code>git switch master</code></pre></li>
  <li>Create a new branch based on the master branch: (here I used the name "master-zhtw" as the branch name, you can use anything you want)<br />
    <pre><code>git switch -c master-zhtw</code></pre>
  </li>
  <li>Switch to the 1.4.x branch: <br />
    <pre><code>git switch 1.4.x</code></pre>
  </li>
  <li>Create a branch based on the 1.4.x branch<br />
    <pre><code>git switch -c 1.4.x-zhtw</code></pre>
  </li>
</ol>

<h3>Copying features between branches</h3>

<p>Now that you have two branches: <code>master-zhtw</code> and <code>1.4.x-zhtw</code>, you can develop features on one branch, then copy it to another. For this example I'm going to translate a string in the <code>tutorials/basic/zh_TW.po</code> po file, then copy it over to the 1.4.x-zhtw branch.</p>
<ol>
  <li>Switch to the <code>master-zhtw</code> branch:<br />
    <pre><code>git switch master-zhtw</code></pre>
  </li>
  <li>Edit a file and save it.
  </li>
  <li>Add the file:<br />
    <pre><code>git add tutorials/basic/zh_TW.po</code></pre>
  </li>
  <li>Commit it:<br />
    <pre><code>git commit -m "Small fix to the zh_TW basic tutorial translation"</code></pre>
  </li>
</ol>

<p>The output of the last command looks like this:</p>

<pre><code>[master-zhtw 4be38c66] Small fix to the zh_TW basic tutorial translation
 1 file changed, 3 insertions(+), 4 deletions(-)</code></pre>

<p>Remember the number-alphabet combo beside the branch name, here <code>4be38c66</code>. You can copy it to the clipboard, as we'll use it later.</p>

<p>Let's merge our changes into the 1.4.x-zhtw branch.</p>

<ol>
  <li>Switch to the 1.4.x-zhtw branch:<br />
    <pre><code>git switch 1.4.x-zhtw</code></pre>
  </li>
  <li>Cherry-pick the changes: (here replace 4be38c66 with what you copied previously)<br />
    <pre><code>git cherry-pick 4be38c66</code></pre>
  </li>
</ol>

<p>If the command succeeded (as it should), the changes are now in the 1.4.x-zhtw branch too.</p>

<h3>Pushing both branches onto the fork project</h3>

<p>The next step is to push both branches into your fork project on GitLab.</p>

<ol>
  <li>Switch to master-zhtw:<br />
    <pre><code>git switch master-zhtw</code></pre>
  </li>
  <li>Push with the upstream set: (because at this point there isn't a master-zhtw branch on our fork project, so we need to ask GitLab to create it)<br />
    <pre><code>git push --set-upstream origin master-zhtw</code></pre>
  </li>
  <li>Switch to 1.4.x-zhtw:<br />
    <pre><code>git switch 1.4.x-zhtw</code></pre>
  </li>
  <li>Push the changes:<br />
    <pre><code>git push --set-upstream origin 1.4.x-zhtw</code></pre>
  </li>
</ol>

<h3>Making merge requests</h3>

<p>Finally we're making merge requests to upstream our changes.</p>

<ol>
  <li>Open or refresh your fork project page. You may see some hints to help you create merge requests.</li>
  <li>Switch to the master-zhtw branch with the top-left dropdown saying <svg class="inline" style="width: 3.85em"><title>master</title><use href="#master" /></svg>. Click on it and select "master-zhtw".</li>
  <li>Press the top-right white button named <svg class="inline" style="width: 6em"><title>Create merge request</title><use href="#createmr" /></svg>.</li>
  <li>Check the branch you're requesting to merge into. For this example if it says "<code data-branch-name="master" id="js-target-branch-title">inkscape/inkscape-docs/documentation:master"</code>, it is correct.</li><li>Create the merge request with the blue <svg class="inline" style="width: 6em"><title>Create merge request</title><use href="#createmr-blue" /></svg> button.</li>
</ol>

<p>Next, for 1.4.x:</p><ol><li>Go back to the fork project page.</li><li>Switch to the 1.4.x-zhtw branch with the top-left dropdown saying <svg class="inline" style="width: 3.85em"><title>master</title><use href="#master" /></svg>. Click on it and select "1.4.x-zhtw".&nbsp;</li><li>Press the top-right white button named <svg class="inline" style="width: 6em"><title>Create merge request</title><use href="#createmr" /></svg>.</li><li>Check the branch you're requesting to merge into. For this one you'd want to double check, since by default it'll want to merge into <code>master</code>, so you will need to click the blue link named "Change branches".</li><li>In the page change the target branch from "master" to "1.4.x", then click on the button "Compare branches and continue".</li><li>Click on <svg class="inline" style="width: 6em"><title>Create merge request</title><use href="#createmr-blue" /></svg>.</li></ol><p>Congratulations, you just made MRs for your change on both branches.</p><p>— ltlnx 2024-11-07 <br /></p>

<!-- Symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol
   height="100%"
   width="100%"
   viewBox="0 0 59.972095 16.884871"
   version="1.1"
   id="forkbutton"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><g
     id="layer1"
     transform="translate(-73.874664,-139.99972)"><rect
       style="fill:#ffffff;stroke:#b3b3b3;stroke-width:0.5"
       id="rect1"
       width="59.472099"
       height="16.384863"
       x="74.124664"
       y="140.24973"
       ry="2.0338395" /><path
       style="fill:none;stroke:#b3b3b3;stroke-width:0.499999"
       d="m 112.46834,140.4898 v 15.99241"
       id="path1" /><path
       style="font-size:7.50557px;font-family:Inter;-inkscape-font-specification:Inter;fill:#3a383f;stroke-width:1.18198"
       d="m 91.437745,151.12497 v -5.4606 h 3.302011 v 0.6157 h -2.605693 v 1.86906 h 2.356485 v 0.61569 h -2.356485 v 2.36015 z m 5.720799,0.088 q -0.557054,0 -0.97851,-0.26387 -0.41779,-0.26387 -0.652339,-0.7403 -0.234549,-0.47643 -0.234549,-1.10678 0,-0.64134 0.234549,-1.11777 0.234549,-0.48009 0.652339,-0.74396 0.421456,-0.26387 0.97851,-0.26387 0.560719,0 0.982174,0.26387 0.421455,0.26387 0.656004,0.74396 0.234549,0.47643 0.234549,1.11777 0,0.63035 -0.234549,1.10678 -0.234549,0.47643 -0.656004,0.7403 -0.421455,0.26387 -0.982174,0.26387 z m 0,-0.59004 q 0.414125,0 0.681658,-0.21256 0.267532,-0.21256 0.395801,-0.55706 0.12827,-0.34815 0.12827,-0.75129 0,-0.40679 -0.12827,-0.75495 -0.128269,-0.35182 -0.395801,-0.56438 -0.267533,-0.21623 -0.681658,-0.21623 -0.410461,0 -0.674329,0.21623 -0.263868,0.21256 -0.392137,0.56071 -0.128269,0.34816 -0.128269,0.75862 0,0.40314 0.128269,0.75129 0.128269,0.3445 0.392137,0.55706 0.263868,0.21256 0.674329,0.21256 z m 2.832913,0.50208 v -4.09728 h 0.637683 v 0.63035 h 0.044 q 0.11361,-0.31151 0.40314,-0.49842 0.29318,-0.19057 0.65967,-0.19057 0.0733,0 0.17224,0.004 0.10262,0.004 0.16125,0.007 v 0.66333 q -0.0293,-0.007 -0.14659,-0.022 -0.11727,-0.0147 -0.24921,-0.0147 -0.29318,0 -0.52773,0.12461 -0.23089,0.12094 -0.36282,0.33716 -0.13193,0.21256 -0.13193,0.49109 v 2.56538 z m 3.562213,-1.47326 v -0.81726 h 0.12094 l 1.75179,-1.80676 h 0.81725 l -1.89471,1.94602 h -0.0733 z m -0.61936,1.47326 v -5.4606 h 0.65967 v 5.4606 z m 2.59104,0 -1.56855,-2.00466 0.4691,-0.46544 1.94602,2.4701 z"
       id="text2"
       aria-label="Fork" /><path
       style="font-size:7.50557px;font-family:Inter;-inkscape-font-specification:Inter;fill:#3a383f;stroke-width:1.18198"
       d="m 120.70978,151.19827 q -0.48009,0 -0.86123,-0.18691 -0.38115,-0.19057 -0.60837,-0.51674 -0.22721,-0.32984 -0.24554,-0.74763 h 0.67433 q 0.022,0.24188 0.16492,0.43245 0.14293,0.19057 0.37014,0.30052 0.23089,0.10628 0.50575,0.10628 0.32984,0 0.58637,-0.15392 0.26021,-0.15393 0.4068,-0.42512 0.14659,-0.2712 0.14659,-0.61569 0,-0.35183 -0.15392,-0.63036 -0.15392,-0.27852 -0.42145,-0.43611 -0.26387,-0.16125 -0.60837,-0.16125 -0.25287,0 -0.51307,0.0806 -0.26021,0.0806 -0.42146,0.20523 l -0.65234,-0.0806 0.32251,-2.70465 h 2.87322 v 0.61203 h -2.28685 l -0.18691,1.5942 h 0.0293 q 0.16858,-0.13926 0.42512,-0.22722 0.25654,-0.0916 0.53873,-0.0916 0.37381,0 0.68899,0.1356 0.31884,0.1356 0.55339,0.38481 0.23455,0.24554 0.36282,0.57904 0.13193,0.3335 0.13193,0.7293 0,0.52407 -0.23821,0.93453 -0.23455,0.41046 -0.64501,0.64868 -0.41046,0.23455 -0.9382,0.23455 z m 2.83291,-0.0733 v -0.50208 l 1.81409,-1.96802 q 0.30419,-0.32983 0.50575,-0.57904 0.20157,-0.24921 0.30418,-0.47276 0.10262,-0.22722 0.10262,-0.48009 0,-0.28586 -0.1356,-0.49476 -0.1356,-0.20889 -0.36648,-0.31884 -0.23089,-0.11361 -0.52408,-0.11361 -0.31151,0 -0.54239,0.12827 -0.22722,0.12461 -0.35182,0.35549 -0.12461,0.22722 -0.12461,0.53507 h -0.667 q 0,-0.48376 0.22356,-0.85024 0.22355,-0.36649 0.60836,-0.56805 0.38481,-0.20523 0.87223,-0.20523 0.48742,0 0.86123,0.20523 0.37748,0.20156 0.59004,0.54606 0.21623,0.34449 0.21623,0.77328 0,0.29685 -0.10628,0.57904 -0.10628,0.27853 -0.37382,0.63401 -0.26753,0.35549 -0.75129,0.86857 l -1.19473,1.2717 v 0.044 h 2.51774 v 0.61203 z"
       id="text3"
       aria-label="52" /><path
       fill-rule="evenodd"
       clip-rule="evenodd"
       d="m 83.000323,146.02507 a 0.544227,0.544227 0 1 1 -1.088454,0 0.544227,0.544227 0 0 1 1.088454,0 z m -0.136065,1.29853 a 1.3611104,1.3611104 0 1 0 -0.81634,0 v 0.19809 a 1.3605662,1.3605662 0 0 0 1.360565,1.36054 0.54422647,0.54422647 0 0 1 0.544228,0.54424 v 0.19809 a 1.3611104,1.3611104 0 1 0 0.81634,0 v -0.19809 a 0.54422647,0.54422647 0 0 1 0.544226,-0.54424 1.3605662,1.3605662 0 0 0 1.360565,-1.36054 v -0.19809 a 1.3611104,1.3611104 0 1 0 -0.81634,0 v 0.19809 a 0.54422647,0.54422647 0 0 1 -0.544225,0.54421 c -0.370618,0 -0.707494,0.14851 -0.952397,0.38913 a 1.3562124,1.3562124 0 0 0 -0.952397,-0.38913 0.54422647,0.54422647 0 0 1 -0.544225,-0.54421 z m 3.401415,-0.75429 a 0.54423,0.54423 0 1 0 0,-1.08846 0.54423,0.54423 0 0 0 0,1.08846 z m -1.904793,4.89804 a 0.54423,0.54423 0 1 0 0,-1.08846 0.54423,0.54423 0 0 0 0,1.08846 z"
       id="path1-5"
       style="fill:#3a383f;fill-opacity:1;stroke-width:0.544226" /></g>
  </symbol>
  <symbol
   width="100%"
   height="100%"
   viewBox="0 0 54.84193 16.884863"
   version="1.1"
   id="forkproject"
   xml:space="preserve"
   sodipodi:docname="forkprojectbutton.svg"
   inkscape:version="1.4 (83ca4488e0, 2024-10-28)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     inkscape:zoom="2.1705598"
     inkscape:cx="97.90101"
     inkscape:cy="-26.490861"
     inkscape:window-width="1920"
     inkscape:window-height="1144"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" /><defs
     id="defs1" /><g
     id="layer1"
     transform="translate(-73.874666,-161.16642)"><rect
       style="fill:#1f75cb;fill-opacity:1;stroke:#1168be;stroke-width:0.478359;stroke-opacity:1"
       id="rect2"
       width="54.363571"
       height="16.406504"
       x="74.113846"
       y="161.40559"
       ry="2.0365257" /><path
       d="m 81.021511,172.08221 v -5.39569 h 3.262764 v 0.60838 h -2.574723 v 1.84684 h 2.328476 v 0.60838 h -2.328476 v 2.33209 z m 5.652802,0.0869 q -0.550433,0 -0.966879,-0.26073 -0.412825,-0.26073 -0.644586,-0.73149 -0.231762,-0.47077 -0.231762,-1.09363 0,-0.63372 0.231762,-1.10448 0.231761,-0.47439 0.644586,-0.73512 0.416446,-0.26073 0.966879,-0.26073 0.554054,0 0.9705,0.26073 0.416446,0.26073 0.648207,0.73512 0.231761,0.47076 0.231761,1.10448 0,0.62286 -0.231761,1.09363 -0.231761,0.47076 -0.648207,0.73149 -0.416446,0.26073 -0.9705,0.26073 z m 0,-0.58302 q 0.409203,0 0.673556,-0.21003 0.264352,-0.21004 0.391097,-0.55044 0.126744,-0.34402 0.126744,-0.74236 0,-0.40196 -0.126744,-0.74598 -0.126745,-0.34764 -0.391097,-0.55767 -0.264353,-0.21366 -0.673556,-0.21366 -0.405583,0 -0.666314,0.21366 -0.260731,0.21003 -0.387476,0.55405 -0.126744,0.34402 -0.126744,0.7496 0,0.39834 0.126744,0.74236 0.126745,0.3404 0.387476,0.55044 0.260731,0.21003 0.666314,0.21003 z m 2.799241,0.49611 v -4.04857 h 0.630101 v 0.62285 h 0.04346 q 0.112259,-0.3078 0.398339,-0.49249 0.289702,-0.18831 0.651829,-0.18831 0.07243,0 0.170199,0.004 0.101396,0.004 0.159336,0.007 v 0.65545 q -0.02897,-0.007 -0.144851,-0.0217 -0.11588,-0.0145 -0.246246,-0.0145 -0.289701,0 -0.521463,0.12312 -0.22814,0.1195 -0.358505,0.33316 -0.130366,0.21003 -0.130366,0.48525 v 2.53488 z m 3.519874,-1.45575 v -0.80754 h 0.119502 l 1.730967,-1.78528 h 0.807543 l -1.872197,1.92289 h -0.07242 z m -0.611995,1.45575 v -5.39569 h 0.651829 v 5.39569 z m 2.560238,0 -1.549903,-1.98083 0.463522,-0.4599 1.922894,2.44073 z m 3.595921,1.51369 v -5.56226 h 0.630101 v 0.6482 h 0.07242 q 0.0688,-0.10864 0.191927,-0.27159 0.123124,-0.16658 0.354885,-0.29695 0.231755,-0.13036 0.626475,-0.13036 0.50698,0 0.89083,0.25349 0.38748,0.25349 0.60475,0.72425 0.2209,0.46714 0.2209,1.10811 0,0.64458 -0.21728,1.11535 -0.21727,0.47076 -0.60475,0.72787 -0.38385,0.25711 -0.89083,0.25711 -0.38384,0 -0.619231,-0.13036 -0.235383,-0.13399 -0.362127,-0.30057 -0.126745,-0.1702 -0.195549,-0.28246 h -0.0507 v 2.14017 z m 1.781668,-2.0098 q 0.38023,0 0.63372,-0.20279 0.25711,-0.20641 0.38385,-0.55043 0.13037,-0.34765 0.13037,-0.77133 0,-0.42007 -0.12675,-0.75685 -0.12674,-0.3404 -0.38385,-0.53957 -0.25349,-0.19917 -0.63734,-0.19917 -0.372994,0 -0.626483,0.18831 -0.253489,0.1883 -0.383855,0.52508 -0.126744,0.33316 -0.126744,0.7822 0,0.44903 0.130365,0.79305 0.130366,0.34402 0.383855,0.53957 0.25711,0.19193 0.622862,0.19193 z m 2.7594,0.49611 v -4.04857 h 0.6301 v 0.62285 h 0.0435 q 0.11226,-0.3078 0.39834,-0.49249 0.2897,-0.18831 0.65183,-0.18831 0.0724,0 0.1702,0.004 0.10139,0.004 0.15933,0.007 v 0.65545 q -0.029,-0.007 -0.14485,-0.0217 -0.11588,-0.0145 -0.24624,-0.0145 -0.28971,0 -0.52147,0.12312 -0.22814,0.1195 -0.3585,0.33316 -0.13037,0.21003 -0.13037,0.48525 v 2.53488 z m 4.31656,0.0869 q -0.55044,0 -0.96688,-0.26073 -0.41283,-0.26073 -0.64459,-0.73149 -0.23176,-0.47077 -0.23176,-1.09363 0,-0.63372 0.23176,-1.10448 0.23176,-0.47439 0.64459,-0.73512 0.41644,-0.26073 0.96688,-0.26073 0.55405,0 0.9705,0.26073 0.41644,0.26073 0.6482,0.73512 0.23177,0.47076 0.23177,1.10448 0,0.62286 -0.23177,1.09363 -0.23176,0.47076 -0.6482,0.73149 -0.41645,0.26073 -0.9705,0.26073 z m 0,-0.58302 q 0.4092,0 0.67355,-0.21003 0.26436,-0.21004 0.3911,-0.55044 0.12674,-0.34402 0.12674,-0.74236 0,-0.40196 -0.12674,-0.74598 -0.12674,-0.34764 -0.3911,-0.55767 -0.26435,-0.21366 -0.67355,-0.21366 -0.40559,0 -0.66632,0.21366 -0.26073,0.21003 -0.38747,0.55405 -0.12675,0.34402 -0.12675,0.7496 0,0.39834 0.12675,0.74236 0.12674,0.3404 0.38747,0.55044 0.26073,0.21003 0.66632,0.21003 z m 2.79562,-3.55246 h 0.65545 v 4.33828 q 0.004,0.38385 -0.13037,0.65907 -0.13399,0.27521 -0.39834,0.42006 -0.26435,0.14485 -0.65907,0.14485 h -0.13037 v -0.60113 h 0.11951 q 0.28246,0 0.41282,-0.16295 0.13037,-0.15934 0.13037,-0.4599 z m 0.32953,-0.6627 q -0.18468,0 -0.31867,-0.12674 -0.13399,-0.12675 -0.13399,-0.30419 0,-0.18106 0.13399,-0.30418 0.13399,-0.12675 0.31867,-0.12675 0.18831,0 0.3223,0.12675 0.13398,0.12312 0.13398,0.30418 0,0.17744 -0.13398,0.30419 -0.13399,0.12674 -0.3223,0.12674 z m 3.17223,4.79818 q -0.58664,0 -1.01395,-0.26073 -0.42369,-0.26073 -0.65545,-0.72787 -0.22814,-0.46715 -0.22814,-1.09 0,-0.62286 0.22452,-1.09725 0.22452,-0.47438 0.63372,-0.74236 0.41283,-0.26797 0.96326,-0.26797 0.32229,0 0.63372,0.10864 0.31505,0.10501 0.56854,0.34402 0.25711,0.23538 0.4092,0.62285 0.1521,0.38748 0.1521,0.94878 v 0.27159 h -3.14327 v -0.55043 h 2.792 l -0.30418,0.20279 q 0,-0.39834 -0.12675,-0.70615 -0.12312,-0.31143 -0.36937,-0.48525 -0.24624,-0.17744 -0.61199,-0.17744 -0.36575,0 -0.62648,0.18106 -0.26073,0.17745 -0.39834,0.46715 -0.13761,0.28608 -0.13761,0.61561 v 0.36575 q 0,0.44904 0.15572,0.76409 0.15571,0.31143 0.43455,0.47439 0.28246,0.15933 0.65183,0.15933 0.239,0 0.43455,-0.0688 0.19555,-0.0688 0.33678,-0.20641 0.14123,-0.14123 0.21727,-0.34765 l 0.6301,0.17382 q -0.0941,0.30419 -0.31867,0.53595 -0.22452,0.23176 -0.55767,0.36213 -0.32954,0.13036 -0.74599,0.13036 z m 4.26948,0 q -0.55043,0 -0.96688,-0.26073 -0.41282,-0.26073 -0.64459,-0.73149 -0.23176,-0.47077 -0.23176,-1.09363 0,-0.63372 0.23176,-1.10448 0.23177,-0.47439 0.64459,-0.73512 0.41645,-0.26073 0.96688,-0.26073 0.29332,0 0.55405,0.076 0.26073,0.0761 0.47439,0.2209 0.21728,0.14123 0.37299,0.35126 0.15571,0.20642 0.239,0.47077 l -0.62648,0.17744 q -0.0434,-0.15571 -0.13398,-0.28608 -0.0905,-0.13036 -0.2209,-0.22452 -0.12674,-0.0978 -0.29332,-0.14847 -0.16658,-0.0543 -0.36575,-0.0543 -0.40558,0 -0.66631,0.21366 -0.26074,0.21003 -0.38748,0.55405 -0.12674,0.34402 -0.12674,0.7496 0,0.39834 0.12674,0.74236 0.12674,0.3404 0.38748,0.55044 0.26073,0.21003 0.66631,0.21003 0.20279,0 0.37299,-0.0543 0.1702,-0.0543 0.30057,-0.15209 0.13398,-0.1014 0.22451,-0.23901 0.0905,-0.1376 0.13399,-0.30056 l 0.62286,0.17744 q -0.0797,0.2716 -0.239,0.48525 -0.15572,0.21003 -0.373,0.36213 -0.21727,0.14847 -0.48162,0.22452 -0.26436,0.0797 -0.5613,0.0797 z m 4.18257,-4.13548 v 0.55767 h -2.0931 v -0.55767 z m -1.48473,-0.96326 h 0.65183 v 3.96167 q 0,0.27159 0.10864,0.39834 0.11226,0.12312 0.36937,0.12312 0.0616,0 0.15572,-0.0145 0.0978,-0.0145 0.17744,-0.029 l 0.13398,0.55044 q -0.10139,0.0362 -0.23176,0.0543 -0.12674,0.0181 -0.25349,0.0181 -0.52508,0 -0.8184,-0.27521 -0.29333,-0.27884 -0.29333,-0.77496 z"
       id="text5"
       style="font-size:7.41636px;font-family:Inter;-inkscape-font-specification:Inter;fill:#ffffff;stroke-width:1.16793"
       aria-label="Fork project" /></g>
  </symbol>
  <symbol
   width="100%"
   height="100%"
   viewBox="0 0 40.046043 16.884863"
   version="1.1"
   id="code"
   xml:space="preserve"
   sodipodi:docname="codebutton.svg"
   inkscape:version="1.4 (83ca4488e0, 2024-10-28)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     inkscape:zoom="1.1030033"
     inkscape:cx="189.93598"
     inkscape:cy="-5.8930016"
     inkscape:window-width="1920"
     inkscape:window-height="1144"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" /><defs
     id="defs1" /><g
     id="layer1"
     transform="translate(-73.756289,-182.3331)"><rect
       style="fill:#1f75cb;fill-opacity:1;stroke:#1168be;stroke-width:0.478359;stroke-opacity:1"
       id="rect7"
       width="39.56768"
       height="16.406504"
       x="73.995468"
       y="182.57228"
       ry="2.0365257"
       rx="2.0365257" /><path
       style="font-size:7.38667px;font-family:Inter;-inkscape-font-specification:Inter;fill:#ffffff;stroke-width:0.500001"
       d="m 82.96501,193.35978 q -0.688893,0 -1.229909,-0.33182 -0.537409,-0.33543 -0.847592,-0.95219 -0.306575,-0.62037 -0.306575,-1.47157 0,-0.8548 0.306575,-1.47156 0.310183,-0.62036 0.847592,-0.95579 0.541016,-0.33543 1.229909,-0.33543 0.407565,0 0.768243,0.11902 0.364284,0.11902 0.652826,0.34986 0.288541,0.22722 0.4797,0.55544 0.194766,0.32461 0.266901,0.73939 h -0.685286 q -0.05771,-0.27772 -0.198373,-0.48692 -0.137057,-0.20919 -0.339036,-0.35346 -0.198373,-0.14427 -0.440027,-0.21641 -0.241653,-0.0721 -0.504948,-0.0721 -0.483307,0 -0.872839,0.24526 -0.389531,0.24526 -0.616758,0.72135 -0.227227,0.47249 -0.227227,1.16138 0,0.68529 0.227227,1.16139 0.230834,0.47248 0.620365,0.71774 0.389531,0.24166 0.869232,0.24166 0.263295,0 0.504948,-0.0721 0.241654,-0.0757 0.440027,-0.2164 0.201979,-0.14428 0.339036,-0.35347 0.140664,-0.2128 0.198373,-0.48691 h 0.685286 q -0.06853,0.41117 -0.263294,0.73578 -0.191159,0.32461 -0.479701,0.55544 -0.288541,0.23084 -0.652826,0.35347 -0.360677,0.11902 -0.771849,0.11902 z m 4.78258,0.0144 q -0.548229,0 -0.963008,-0.25969 -0.411172,-0.25969 -0.642005,-0.72857 -0.230834,-0.46888 -0.230834,-1.08924 0,-0.63119 0.230834,-1.10007 0.230833,-0.47249 0.642005,-0.73218 0.414779,-0.25968 0.963008,-0.25968 0.551836,0 0.966615,0.25968 0.414779,0.25969 0.645613,0.73218 0.230833,0.46888 0.230833,1.10007 0,0.62036 -0.230833,1.08924 -0.230834,0.46888 -0.645613,0.72857 -0.414779,0.25969 -0.966615,0.25969 z m 0,-0.58069 q 0.407566,0 0.67086,-0.2092 0.263294,-0.20919 0.389531,-0.54823 0.126237,-0.34264 0.126237,-0.73938 0,-0.40036 -0.126237,-0.743 -0.126237,-0.34625 -0.389531,-0.55544 -0.263294,-0.2128 -0.67086,-0.2128 -0.403958,0 -0.663646,0.2128 -0.259687,0.20919 -0.385925,0.55183 -0.126237,0.34265 -0.126237,0.74661 0,0.39674 0.126237,0.73938 0.126238,0.33904 0.385925,0.54823 0.259688,0.2092 0.663646,0.2092 z m 4.299273,0.58069 q -0.501341,0 -0.887266,-0.25608 -0.385924,-0.25609 -0.602331,-0.72497 -0.216406,-0.46888 -0.216406,-1.11088 0,-0.6384 0.216406,-1.10367 0.220013,-0.46888 0.605938,-0.72136 0.385925,-0.25247 0.887266,-0.25247 0.393138,0 0.623972,0.12984 0.230833,0.12984 0.353463,0.29576 0.126237,0.1623 0.191159,0.2705 h 0.05049 v -1.98733 h 0.649219 v 5.37409 H 93.2912 v -0.62397 h -0.07214 q -0.06492,0.11181 -0.194765,0.28133 -0.126237,0.16591 -0.360678,0.29936 -0.230833,0.12985 -0.616758,0.12985 z m 0.09738,-0.58069 q 0.367891,0 0.620365,-0.19116 0.252474,-0.19477 0.382318,-0.53741 0.129844,-0.34265 0.129844,-0.78989 0,-0.44724 -0.129844,-0.77906 -0.126237,-0.33543 -0.378711,-0.52298 -0.252474,-0.18755 -0.623972,-0.18755 -0.382318,0 -0.638399,0.19837 -0.252474,0.19837 -0.378711,0.53741 -0.126237,0.33543 -0.126237,0.75381 0,0.422 0.126237,0.76825 0.129844,0.34264 0.385925,0.54823 0.256081,0.20198 0.631185,0.20198 z m 4.609456,0.58069 q -0.584298,0 -1.009897,-0.25969 -0.421992,-0.25969 -0.652826,-0.72496 -0.227226,-0.46528 -0.227226,-1.08564 0,-0.62037 0.22362,-1.09285 0.22362,-0.47249 0.631185,-0.73939 0.411172,-0.2669 0.959401,-0.2669 0.321003,0 0.631186,0.1082 0.313789,0.1046 0.566263,0.34264 0.256081,0.23444 0.407565,0.62037 0.151485,0.38592 0.151485,0.94497 v 0.27051 h -3.130679 v -0.54823 h 2.780822 l -0.302969,0.20198 q 0,-0.39674 -0.126237,-0.70332 -0.122631,-0.31018 -0.367891,-0.48331 -0.245261,-0.17673 -0.609545,-0.17673 -0.364284,0 -0.623971,0.18034 -0.259688,0.17673 -0.396745,0.46527 -0.137058,0.28494 -0.137058,0.61315 v 0.36429 q 0,0.44724 0.155092,0.76103 0.155091,0.31018 0.432812,0.47248 0.281329,0.1587 0.649219,0.1587 0.238047,0 0.432813,-0.0685 0.194766,-0.0685 0.33543,-0.20558 0.140664,-0.14067 0.216406,-0.34625 l 0.627579,0.17312 q -0.09378,0.30297 -0.317396,0.5338 -0.22362,0.23084 -0.555443,0.36068 -0.328217,0.12985 -0.742995,0.12985 z"
       id="text7"
       aria-label="Code" /><path
       id="rect8"
       style="fill:none;stroke:#ffffff;stroke-width:0.65;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none"
       transform="rotate(45)"
       d="m 209.90873,58.581509 v 2.584835 h -2.58483" /></g>
  </symbol>
  <symbol
   width="100%"
   height="100%"
   viewBox="0 0 58.45734 16.884863"
   version="1.1"
   id="master"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs1" /><g
     id="layer1"
     transform="translate(-72.200394,-95.310562)"><rect
       style="fill:#ffffff;stroke:#b3b3b3;stroke-width:0.5"
       id="rect9"
       width="57.95734"
       height="16.384863"
       x="72.450394"
       y="95.560562"
       ry="2.0338395"
       rx="2.0338395" /><path
       style="font-size:7.22801px;font-family:'DejaVu Sans Mono';-inkscape-font-specification:'DejaVu Sans Mono';fill:#3a383f;stroke-width:0.65;stroke-linecap:round;stroke-linejoin:round"
       d="m 91.670705,103.04942 q 0.119996,-0.25411 0.30352,-0.3741 0.187053,-0.12353 0.448221,-0.12353 0.476456,0 0.670568,0.37058 0.19764,0.36704 0.19764,1.38701 v 2.29052 h -0.592922 v -2.26228 q 0,-0.83645 -0.09529,-1.03762 -0.09176,-0.2047 -0.338813,-0.2047 -0.282345,0 -0.388224,0.21882 -0.102349,0.21529 -0.102349,1.0235 v 2.26228 h -0.592923 v -2.26228 q 0,-0.84704 -0.10235,-1.04468 -0.09882,-0.19764 -0.359989,-0.19764 -0.257639,0 -0.359988,0.21882 -0.09882,0.21529 -0.09882,1.0235 v 2.26228 h -0.589393 v -3.95282 h 0.589393 v 0.33881 q 0.116467,-0.21175 0.289403,-0.32116 0.176465,-0.11294 0.398811,-0.11294 0.268227,0 0.444692,0.12353 0.179994,0.12352 0.278815,0.3741 z m 4.443391,1.56348 h -0.215287 q -0.568218,0 -0.857621,0.20117 -0.285873,0.19764 -0.285873,0.59293 0,0.35645 0.215287,0.5541 0.215288,0.19764 0.596452,0.19764 0.536454,0 0.843503,-0.37058 0.30705,-0.37411 0.310579,-1.03056 v -0.1447 z m 1.259961,-0.26822 v 2.25522 h -0.652921 v -0.58586 q -0.208229,0.35293 -0.525866,0.52233 -0.314108,0.16588 -0.765859,0.16588 -0.60351,0 -0.963499,-0.33881 -0.359989,-0.34235 -0.359989,-0.91409 0,-0.65998 0.441163,-1.00232 0.444692,-0.34235 1.302312,-0.34235 h 0.871738 v -0.10235 q -0.0035,-0.47292 -0.239993,-0.68468 -0.236463,-0.21529 -0.75527,-0.21529 -0.331755,0 -0.670568,0.0953 -0.338813,0.0953 -0.659979,0.27882 v -0.64939 q 0.359989,-0.13765 0.688214,-0.2047 0.331754,-0.0706 0.642333,-0.0706 0.490573,0 0.836444,0.1447 0.349401,0.1447 0.564689,0.43411 0.134113,0.17646 0.190582,0.43763 0.05647,0.25764 0.05647,0.77645 z m 4.048113,-1.55996 V 103.42 q -0.27882,-0.16235 -0.56116,-0.24352 -0.28235,-0.0812 -0.57528,-0.0812 -0.441162,0 -0.659979,0.1447 -0.215287,0.14118 -0.215287,0.43411 0,0.2647 0.162348,0.39528 0.162348,0.13058 0.808208,0.25411 l 0.26117,0.0494 q 0.48351,0.0918 0.73057,0.36705 0.25058,0.27528 0.25058,0.71645 0,0.58586 -0.41646,0.91761 -0.41646,0.32823 -1.15761,0.32823 -0.292934,0 -0.614101,-0.0635 -0.321166,-0.06 -0.695272,-0.18352 v -0.67057 q 0.363518,0.18705 0.695272,0.28234 0.331754,0.0918 0.628211,0.0918 0.43058,0 0.66704,-0.17294 0.23647,-0.17646 0.23647,-0.49057 0,-0.45175 -0.86468,-0.62469 l -0.0282,-0.007 -0.243519,-0.0494 q -0.561159,-0.10941 -0.818798,-0.36704 -0.257639,-0.26117 -0.257639,-0.70939 0,-0.56822 0.384694,-0.87527 0.384694,-0.31058 1.097612,-0.31058 0.31764,0 0.61057,0.06 0.29293,0.0565 0.57528,0.17293 z m 3.08461,-1.25996 v 1.12232 h 1.47524 v 0.50469 h -1.47524 v 2.14582 q 0,0.43763 0.16587,0.61057 0.16588,0.17293 0.57881,0.17293 h 0.73056 v 0.51881 h -0.79409 q -0.73056,0 -1.03055,-0.29293 -0.3,-0.29293 -0.3,-1.00938 v -2.14582 h -1.05526 v -0.50469 h 1.05526 v -1.12232 z m 6.10922,2.93638 v 0.31764 h -2.81286 v 0.0212 q 0,0.64586 0.33529,0.99879 0.33881,0.35293 0.95291,0.35293 0.31058,0 0.64939,-0.0988 0.33881,-0.0988 0.72351,-0.29999 v 0.64586 q -0.37058,0.15176 -0.71645,0.22587 -0.34234,0.0777 -0.66351,0.0777 -0.92115,0 -1.43995,-0.55057 -0.51881,-0.5541 -0.51881,-1.52466 0,-0.94585 0.50822,-1.51054 0.50822,-0.56469 1.35525,-0.56469 0.75527,0 1.18937,0.51175 0.43764,0.51175 0.43764,1.3976 z m -0.64939,-0.19058 q -0.0141,-0.57175 -0.27176,-0.86821 -0.25411,-0.29999 -0.7341,-0.29999 -0.46939,0 -0.77291,0.31058 -0.30352,0.31058 -0.35999,0.86115 z m 5.15278,-0.80821 q -0.20823,-0.16235 -0.42352,-0.23646 -0.21529,-0.0741 -0.47293,-0.0741 -0.60704,0 -0.9282,0.38117 -0.32117,0.38116 -0.32117,1.10114 v 1.96582 h -0.65292 v -3.95282 h 0.65292 v 0.7729 q 0.16235,-0.41999 0.49763,-0.64233 0.33882,-0.22588 0.80115,-0.22588 0.24,0 0.44823,0.06 0.20822,0.06 0.39881,0.18705 z"
       id="text12"
       aria-label="master" /><path
       id="path12"
       style="fill:none;stroke:#3a383f;stroke-width:0.65;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
       d="m 124.16988,103.05504 -1.82775,1.82776 -1.82775,-1.82775" /><path
       fill-rule="evenodd"
       clip-rule="evenodd"
       d="m 84.758788,101.88321 a 0.53392095,0.53392095 0 1 0 0,-1.06784 0.53392095,0.53392095 0 0 0 0,1.06784 z m 1.334804,-0.53392 a 1.3353363,1.3353363 0 0 1 -0.9995,1.29209 1.8697911,1.8697911 0 0 1 -1.803586,1.37752 h -0.800882 a 1.0678419,1.0678419 0 0 0 -1.049154,0.86815 1.3353363,1.3353363 0 1 1 -0.81957,-0.006 v -2.25848 a 1.3353363,1.3353363 0 1 1 0.800882,0 v 0.9301 a 1.8601806,1.8601806 0 0 1 1.067842,-0.33478 h 0.800882 a 1.0678419,1.0678419 0 0 0 0.97334,-0.62841 1.3348024,1.3348024 0 1 1 1.829746,-1.24032 z m -4.53833,4.80528 a 0.53392095,0.53392095 0 1 1 -1.067839,0 0.53392095,0.53392095 0 0 1 1.067839,0 z m 0,-4.80528 a 0.53392095,0.53392095 0 1 1 -1.067839,0 0.53392095,0.53392095 0 0 1 1.067839,0 z"
       id="path1-59"
       style="fill:#3a383f;fill-opacity:1;stroke-width:0.264582" /></g>
  </symbol>
<symbol
   width="100%"
   height="100%"
   viewBox="0 0 89.173568 16.884863"
   version="1.1"
   id="createmr"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs1" /><g
     id="layer1"
     transform="translate(-73.113068,-100.18061)"><rect
       style="fill:#ffffff;stroke:#b3b3b3;stroke-width:0.5"
       id="rect12"
       width="88.673569"
       height="16.384863"
       x="73.363068"
       y="100.43061"
       ry="2.0338395"
       rx="2.0338395" /><path
       style="font-size:7.4126px;font-family:Inter;-inkscape-font-specification:Inter;fill:#3a383f;stroke-width:0.649999;stroke-linecap:round;stroke-linejoin:round"
       d="m 82.218904,111.36944 q -0.691312,0 -1.234227,-0.33299 -0.539295,-0.33661 -0.850567,-0.95553 -0.307651,-0.62254 -0.307651,-1.47673 0,-0.8578 0.307651,-1.47673 0.311272,-0.62254 0.850567,-0.95915 0.542915,-0.3366 1.234227,-0.3366 0.408996,0 0.77094,0.11944 0.365562,0.11944 0.655117,0.35108 0.289555,0.22803 0.481385,0.55739 0.195449,0.32575 0.267838,0.74199 h -0.687693 q -0.05791,-0.2787 -0.199068,-0.48862 -0.137539,-0.20993 -0.340227,-0.35471 -0.199069,-0.14478 -0.441571,-0.21717 -0.242502,-0.0724 -0.506721,-0.0724 -0.485004,0 -0.875903,0.24612 -0.390899,0.24612 -0.618923,0.72388 -0.228024,0.47415 -0.228024,1.16546 0,0.68769 0.228024,1.16546 0.231644,0.47415 0.622543,0.72027 0.390899,0.2425 0.872283,0.2425 0.264219,0 0.506721,-0.0724 0.242502,-0.076 0.441571,-0.21717 0.202688,-0.14477 0.340227,-0.3547 0.141157,-0.21355 0.199068,-0.48862 h 0.687693 q -0.06877,0.41261 -0.264219,0.73836 -0.19183,0.32575 -0.481385,0.55739 -0.289554,0.23165 -0.655117,0.35471 -0.361943,0.11944 -0.774559,0.11944 z m 3.152527,-0.0724 v -4.04653 h 0.629782 v 0.62255 h 0.04343 q 0.112202,-0.30766 0.398137,-0.49225 0.289555,-0.18821 0.651498,-0.18821 0.07239,0 0.170114,0.004 0.101344,0.004 0.159255,0.007 v 0.65512 q -0.02896,-0.007 -0.144777,-0.0217 -0.115822,-0.0145 -0.246122,-0.0145 -0.289555,0 -0.521198,0.12306 -0.228025,0.11945 -0.358324,0.33299 -0.1303,0.20993 -0.1303,0.48501 v 2.5336 z m 4.368656,0.0869 q -0.586348,0 -1.013441,-0.2606 -0.423474,-0.2606 -0.655118,-0.72751 -0.228024,-0.46691 -0.228024,-1.08945 0,-0.62254 0.224405,-1.09669 0.224405,-0.47414 0.633401,-0.74198 0.412615,-0.26784 0.962769,-0.26784 0.32213,0 0.633401,0.10858 0.314891,0.10497 0.568251,0.34385 0.25698,0.23526 0.408996,0.62254 0.152016,0.38728 0.152016,0.9483 v 0.27145 h -3.141668 v -0.55015 h 2.790583 l -0.304032,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.123061,-0.31127 -0.369183,-0.48501 -0.246121,-0.17735 -0.611684,-0.17735 -0.365563,0 -0.626162,0.18097 -0.260599,0.17735 -0.398138,0.46691 -0.137538,0.28593 -0.137538,0.6153 v 0.36557 q 0,0.44881 0.155636,0.7637 0.155635,0.31127 0.434332,0.47414 0.282315,0.15926 0.651498,0.15926 0.238882,0 0.434332,-0.0688 0.195449,-0.0688 0.336607,-0.20631 0.141158,-0.14116 0.217166,-0.34747 l 0.629782,0.17374 q -0.09411,0.30403 -0.318511,0.53567 -0.224404,0.23165 -0.557392,0.36195 -0.329369,0.1303 -0.745604,0.1303 z m 3.825742,0.007 q -0.38366,0 -0.698551,-0.14478 -0.311271,-0.14478 -0.495862,-0.42348 -0.184592,-0.27869 -0.184592,-0.67683 0,-0.34747 0.137539,-0.56463 0.137538,-0.21717 0.365563,-0.34023 0.231643,-0.12668 0.51034,-0.18821 0.278696,-0.0615 0.561012,-0.0977 0.361943,-0.0471 0.589968,-0.0724 0.228024,-0.0253 0.336607,-0.0869 0.112202,-0.0615 0.112202,-0.20993 v -0.0217 q 0,-0.25336 -0.0941,-0.4271 -0.0941,-0.17735 -0.282316,-0.27145 -0.18821,-0.0941 -0.470526,-0.0941 -0.289555,0 -0.495862,0.0905 -0.206308,0.0905 -0.336608,0.22802 -0.12668,0.13392 -0.19183,0.27508 l -0.626167,-0.2061 q 0.155636,-0.36918 0.419855,-0.57549 0.264218,-0.20993 0.582728,-0.29679 0.318511,-0.0869 0.629782,-0.0869 0.202688,0 0.459668,0.0507 0.260599,0.0471 0.499482,0.19183 0.242502,0.14478 0.398137,0.43072 0.159256,0.28231 0.159256,0.75646 v 2.66752 h -0.64064 v -0.55015 h -0.04343 q -0.06877,0.14115 -0.220786,0.29317 -0.152016,0.1484 -0.394518,0.24974 -0.242502,0.10135 -0.586348,0.10135 z m 0.112202,-0.57549 q 0.361943,0 0.611684,-0.14116 0.249741,-0.14116 0.380041,-0.36556 0.130299,-0.22803 0.130299,-0.47415 v -0.56101 q -0.03981,0.047 -0.173732,0.0869 -0.133919,0.0362 -0.307652,0.0651 -0.170114,0.029 -0.332988,0.0507 -0.159255,0.0181 -0.25336,0.029 -0.235264,0.029 -0.441571,0.10134 -0.202689,0.0688 -0.325749,0.20631 -0.123061,0.13392 -0.123061,0.36557 0,0.20992 0.108583,0.35108 0.108583,0.14116 0.296793,0.21355 0.188211,0.0724 0.430713,0.0724 z m 4.509814,-3.56515 v 0.5574 h -2.092032 v -0.5574 z m -1.483967,-0.96277 h 0.651498 v 3.95966 q 0,0.27146 0.108583,0.39814 0.112202,0.12306 0.369182,0.12306 0.06153,0 0.155636,-0.0145 0.09772,-0.0145 0.177352,-0.029 l 0.133919,0.55015 q -0.101344,0.0362 -0.231644,0.0543 -0.12668,0.0181 -0.25336,0.0181 -0.524818,0 -0.817992,-0.27507 -0.293174,-0.2787 -0.293174,-0.77456 z m 3.945182,5.09617 q -0.58635,0 -1.01344,-0.2606 -0.423474,-0.2606 -0.655118,-0.72751 -0.228024,-0.46691 -0.228024,-1.08945 0,-0.62254 0.224405,-1.09669 0.224405,-0.47414 0.633401,-0.74198 0.412616,-0.26784 0.962766,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15202,0.38728 0.15202,0.9483 v 0.27145 h -3.141671 v -0.55015 h 2.790581 l -0.30403,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61169,-0.17735 -0.36556,0 -0.626159,0.18097 -0.260599,0.17735 -0.398138,0.46691 -0.137538,0.28593 -0.137538,0.6153 v 0.36557 q 0,0.44881 0.155635,0.7637 0.155636,0.31127 0.43433,0.47414 0.28232,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14116,-0.14116 0.21717,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.22441,0.23165 -0.5574,0.36195 -0.32936,0.1303 -0.7456,0.1303 z m 4.70526,-0.0869 v -4.04653 h 0.6334 l 0.004,0.90486 h -0.0507 q 0.0833,-0.32937 0.2606,-0.54291 0.18097,-0.21717 0.41986,-0.32575 0.2425,-0.10858 0.5031,-0.10858 0.44157,0 0.71303,0.27145 0.27507,0.27146 0.3547,0.71303 h -0.0869 q 0.0724,-0.30403 0.26422,-0.52482 0.19183,-0.22078 0.46329,-0.34022 0.27508,-0.11944 0.59721,-0.11944 0.35108,0 0.64064,0.15201 0.28955,0.15202 0.45966,0.45967 0.17374,0.30765 0.17374,0.77818 v 2.72905 h -0.6515 v -2.71096 q 0,-0.43795 -0.24612,-0.62616 -0.24612,-0.18821 -0.57187,-0.18821 -0.27146,0 -0.47053,0.11582 -0.19545,0.11221 -0.30403,0.31128 -0.10497,0.19906 -0.10497,0.45604 v 2.64219 h -0.65149 v -2.77611 q 0,-0.3366 -0.22441,-0.54291 -0.2244,-0.20631 -0.56825,-0.20631 -0.23526,0 -0.44519,0.1122 -0.20631,0.10859 -0.33299,0.32575 -0.12668,0.21717 -0.12668,0.5393 v 2.54808 z m 8.1944,0.0869 q -0.58635,0 -1.01344,-0.2606 -0.42347,-0.2606 -0.65512,-0.72751 -0.22802,-0.46691 -0.22802,-1.08945 0,-0.62254 0.2244,-1.09669 0.22441,-0.47414 0.6334,-0.74198 0.41262,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15202,0.38728 0.15202,0.9483 v 0.27145 h -3.14167 v -0.55015 h 2.79058 l -0.30403,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61169,-0.17735 -0.36556,0 -0.62616,0.18097 -0.2606,0.17735 -0.39814,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15564,0.7637 0.15564,0.31127 0.43433,0.47414 0.28232,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14116,-0.14116 0.21717,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.22441,0.23165 -0.5574,0.36195 -0.32936,0.1303 -0.7456,0.1303 z m 2.62047,-0.0869 v -4.04653 h 0.62978 v 0.62255 h 0.0434 q 0.1122,-0.30766 0.39813,-0.49225 0.28956,-0.18821 0.6515,-0.18821 0.0724,0 0.17011,0.004 0.10135,0.004 0.15926,0.007 v 0.65512 q -0.029,-0.007 -0.14478,-0.0217 -0.11582,-0.0145 -0.24612,-0.0145 -0.28955,0 -0.5212,0.12306 -0.22802,0.11945 -0.35832,0.33299 -0.1303,0.20993 -0.1303,0.48501 v 2.5336 z m 4.30713,1.59979 q -0.44881,0 -0.77818,-0.11582 -0.32575,-0.1122 -0.54292,-0.30041 -0.21716,-0.18822 -0.34384,-0.409 l 0.52843,-0.34023 q 0.0869,0.11582 0.21355,0.25698 0.1303,0.14116 0.34747,0.23888 0.22078,0.10135 0.57549,0.10135 0.485,0 0.79627,-0.23164 0.31489,-0.23165 0.31489,-0.73113 v -0.81075 h -0.0615 q -0.0688,0.11582 -0.19545,0.27507 -0.12306,0.15926 -0.35832,0.28232 -0.23164,0.11944 -0.62254,0.11944 -0.48501,0 -0.87229,-0.22802 -0.38728,-0.23165 -0.61168,-0.67322 -0.22441,-0.44157 -0.22441,-1.07497 0,-0.62616 0.22079,-1.08583 0.22078,-0.46329 0.60806,-0.71665 0.3909,-0.25336 0.894,-0.25336 0.3909,0 0.62255,0.1303 0.23526,0.12668 0.36194,0.29318 0.12668,0.16649 0.19545,0.27507 h 0.0615 v -0.64788 h 0.6334 v 4.15149 q 0,0.5212 -0.23526,0.85057 -0.23527,0.33299 -0.63702,0.48862 -0.39814,0.15564 -0.89038,0.15564 z m -0.0181,-2.24405 q 0.36918,0 0.62254,-0.16649 0.25336,-0.17012 0.38366,-0.48501 0.1303,-0.31851 0.1303,-0.76008 0,-0.43071 -0.1303,-0.75646 -0.12668,-0.32937 -0.38004,-0.51396 -0.25336,-0.18821 -0.62616,-0.18821 -0.38366,0 -0.64064,0.19907 -0.25698,0.19545 -0.38728,0.52482 -0.12668,0.32937 -0.12668,0.73474 0,0.41624 0.1303,0.73475 0.1303,0.31851 0.38728,0.49948 0.25698,0.17735 0.63702,0.17735 z m 4.62564,0.73113 q -0.58635,0 -1.01345,-0.2606 -0.42347,-0.2606 -0.65511,-0.72751 -0.22803,-0.46691 -0.22803,-1.08945 0,-0.62254 0.22441,-1.09669 0.2244,-0.47414 0.6334,-0.74198 0.41261,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15201,0.38728 0.15201,0.9483 v 0.27145 h -3.14167 v -0.55015 h 2.79059 l -0.30404,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61168,-0.17735 -0.36556,0 -0.62616,0.18097 -0.2606,0.17735 -0.39814,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15564,0.7637 0.15563,0.31127 0.43433,0.47414 0.28231,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14115,-0.14116 0.21716,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.2244,0.23165 -0.55739,0.36195 -0.32937,0.1303 -0.7456,0.1303 z m 4.70526,-0.0869 v -4.04653 h 0.62978 v 0.62255 h 0.0434 q 0.1122,-0.30766 0.39813,-0.49225 0.28956,-0.18821 0.6515,-0.18821 0.0724,0 0.17012,0.004 0.10134,0.004 0.15925,0.007 v 0.65512 q -0.029,-0.007 -0.14478,-0.0217 -0.11582,-0.0145 -0.24612,-0.0145 -0.28955,0 -0.5212,0.12306 -0.22802,0.11945 -0.35832,0.33299 -0.1303,0.20993 -0.1303,0.48501 v 2.5336 z m 4.36866,0.0869 q -0.58635,0 -1.01344,-0.2606 -0.42348,-0.2606 -0.65512,-0.72751 -0.22803,-0.46691 -0.22803,-1.08945 0,-0.62254 0.22441,-1.09669 0.2244,-0.47414 0.6334,-0.74198 0.41262,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15201,0.38728 0.15201,0.9483 v 0.27145 h -3.14166 v -0.55015 h 2.79058 l -0.30403,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36919,-0.48501 -0.24612,-0.17735 -0.61168,-0.17735 -0.36556,0 -0.62616,0.18097 -0.2606,0.17735 -0.39814,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15564,0.7637 0.15563,0.31127 0.43433,0.47414 0.28231,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14115,-0.14116 0.21716,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.2244,0.23165 -0.55739,0.36195 -0.32937,0.1303 -0.7456,0.1303 z m 6.01549,1.42605 h -0.65149 v -2.13908 h -0.0507 q -0.0652,0.1122 -0.19545,0.28231 -0.12668,0.1665 -0.36194,0.30042 -0.23164,0.1303 -0.61892,0.1303 -0.5031,0 -0.89038,-0.25698 -0.38728,-0.25698 -0.60445,-0.72751 -0.21716,-0.47053 -0.21716,-1.11478 0,-0.64064 0.21716,-1.10755 0.22079,-0.47053 0.60807,-0.72389 0.38728,-0.25336 0.89038,-0.25336 0.39452,0 0.62616,0.1303 0.23164,0.1303 0.3547,0.29679 0.12668,0.16288 0.19183,0.27146 h 0.0724 v -0.64788 h 0.62978 z m -1.78076,-2.00878 q 0.36919,0 0.62255,-0.19183 0.25336,-0.19545 0.38366,-0.5393 0.1303,-0.34384 0.1303,-0.79265 0,-0.44881 -0.1303,-0.7818 -0.12668,-0.33661 -0.38004,-0.52482 -0.25337,-0.18821 -0.62617,-0.18821 -0.38366,0 -0.64064,0.19907 -0.25336,0.19907 -0.38004,0.53929 -0.12668,0.33661 -0.12668,0.75647 0,0.42347 0.12668,0.77094 0.1303,0.34384 0.38728,0.55015 0.25698,0.20269 0.6334,0.20269 z m 4.29627,0.54653 q -0.40899,0 -0.72026,-0.16649 -0.30766,-0.17011 -0.48139,-0.51034 -0.17011,-0.34023 -0.17011,-0.85057 v -2.5698 h 0.6515 v 2.51551 q 0,0.46691 0.24612,0.73113 0.24612,0.26421 0.66959,0.26421 0.28956,0 0.51758,-0.12668 0.23165,-0.12668 0.36556,-0.36918 0.13392,-0.24612 0.13392,-0.58997 v -2.42502 h 0.65512 v 4.04653 h -0.62978 v -0.98087 h 0.0869 q -0.18821,0.56826 -0.53568,0.7999 -0.34385,0.23164 -0.78904,0.23164 z m 4.7125,0.0362 q -0.58634,0 -1.01344,-0.2606 -0.42347,-0.2606 -0.65511,-0.72751 -0.22803,-0.46691 -0.22803,-1.08945 0,-0.62254 0.22441,-1.09669 0.2244,-0.47414 0.6334,-0.74198 0.41261,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.40899,0.62254 0.15202,0.38728 0.15202,0.9483 v 0.27145 h -3.14167 v -0.55015 h 2.79059 l -0.30404,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61168,-0.17735 -0.36557,0 -0.62617,0.18097 -0.26059,0.17735 -0.39813,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15563,0.7637 0.15564,0.31127 0.43434,0.47414 0.28231,0.15926 0.65149,0.15926 0.23889,0 0.43434,-0.0688 0.19545,-0.0688 0.3366,-0.20631 0.14116,-0.14116 0.21717,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.2244,0.23165 -0.55739,0.36195 -0.32937,0.1303 -0.74561,0.1303 z m 3.99586,0 q -0.41624,0 -0.74199,-0.11944 -0.32213,-0.12307 -0.53205,-0.36195 -0.20993,-0.23888 -0.28232,-0.58635 l 0.61892,-0.14839 q 0.0869,0.33299 0.32575,0.48862 0.24251,0.15564 0.60445,0.15564 0.42347,0 0.67321,-0.18098 0.25336,-0.18097 0.25336,-0.43071 0,-0.20993 -0.14839,-0.34746 -0.14478,-0.14116 -0.44519,-0.20993 l -0.67322,-0.15926 q -0.55015,-0.1303 -0.81799,-0.40175 -0.26784,-0.27508 -0.26784,-0.70217 0,-0.34747 0.19545,-0.61169 0.19545,-0.26784 0.53206,-0.41623 0.34022,-0.15202 0.77094,-0.15202 0.41623,0 0.70579,0.12668 0.29317,0.12306 0.47414,0.34385 0.18459,0.21716 0.27508,0.5031 l -0.58997,0.15202 q -0.0832,-0.21717 -0.27869,-0.39452 -0.19183,-0.17736 -0.58273,-0.17736 -0.36195,0 -0.60445,0.1665 -0.23888,0.16649 -0.23888,0.41985 0,0.22441 0.16287,0.36195 0.16288,0.13392 0.51758,0.21716 l 0.61169,0.14478 q 0.55015,0.1303 0.81437,0.40538 0.26422,0.27145 0.26422,0.68769 0,0.3547 -0.20269,0.6334 -0.19907,0.27508 -0.56101,0.43433 -0.35833,0.15926 -0.83247,0.15926 z m 4.12977,-4.1334 v 0.5574 h -2.09203 v -0.5574 z m -1.48397,-0.96277 h 0.6515 v 3.95966 q 0,0.27146 0.10858,0.39814 0.1122,0.12306 0.36918,0.12306 0.0615,0 0.15564,-0.0145 0.0977,-0.0145 0.17735,-0.029 l 0.13392,0.55015 q -0.10134,0.0362 -0.23164,0.0543 -0.12668,0.0181 -0.25336,0.0181 -0.52482,0 -0.81799,-0.27507 -0.29318,-0.2787 -0.29318,-0.77456 z"
       id="text13"
       aria-label="Create merge request" /></g>
  </symbol>
  <symbol
   width="100%"
   height="100%"
   viewBox="0 0 89.151931 16.863221"
   version="1.1"
   id="createmr-blue"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs1" /><g
     id="layer1"
     transform="translate(-73.123888,-100.19143)"><rect
       style="font-variation-settings:normal;opacity:1;vector-effect:none;fill:#1f75cb;fill-opacity:1;stroke:#1168be;stroke-width:0.478359;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000;stop-opacity:1"
       id="rect12"
       width="88.673569"
       height="16.384863"
       x="73.363068"
       y="100.43061"
       ry="2.0338395"
       rx="2.0338395" /><path
       style="font-size:7.4126px;font-family:Inter;-inkscape-font-specification:Inter;font-variation-settings:normal;opacity:1;vector-effect:none;fill:#ffffff;fill-opacity:1;stroke-width:1.16793;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000;stop-opacity:1"
       d="m 82.218904,111.36944 q -0.691312,0 -1.234227,-0.33299 -0.539295,-0.33661 -0.850567,-0.95553 -0.307651,-0.62254 -0.307651,-1.47673 0,-0.8578 0.307651,-1.47673 0.311272,-0.62254 0.850567,-0.95915 0.542915,-0.3366 1.234227,-0.3366 0.408996,0 0.77094,0.11944 0.365562,0.11944 0.655117,0.35108 0.289555,0.22803 0.481385,0.55739 0.195449,0.32575 0.267838,0.74199 h -0.687693 q -0.05791,-0.2787 -0.199068,-0.48862 -0.137539,-0.20993 -0.340227,-0.35471 -0.199069,-0.14478 -0.441571,-0.21717 -0.242502,-0.0724 -0.506721,-0.0724 -0.485004,0 -0.875903,0.24612 -0.390899,0.24612 -0.618923,0.72388 -0.228024,0.47415 -0.228024,1.16546 0,0.68769 0.228024,1.16546 0.231644,0.47415 0.622543,0.72027 0.390899,0.2425 0.872283,0.2425 0.264219,0 0.506721,-0.0724 0.242502,-0.076 0.441571,-0.21717 0.202688,-0.14477 0.340227,-0.3547 0.141157,-0.21355 0.199068,-0.48862 h 0.687693 q -0.06877,0.41261 -0.264219,0.73836 -0.19183,0.32575 -0.481385,0.55739 -0.289554,0.23165 -0.655117,0.35471 -0.361943,0.11944 -0.774559,0.11944 z m 3.152527,-0.0724 v -4.04653 h 0.629782 v 0.62255 h 0.04343 q 0.112202,-0.30766 0.398137,-0.49225 0.289555,-0.18821 0.651498,-0.18821 0.07239,0 0.170114,0.004 0.101344,0.004 0.159255,0.007 v 0.65512 q -0.02896,-0.007 -0.144777,-0.0217 -0.115822,-0.0145 -0.246122,-0.0145 -0.289555,0 -0.521198,0.12306 -0.228025,0.11945 -0.358324,0.33299 -0.1303,0.20993 -0.1303,0.48501 v 2.5336 z m 4.368656,0.0869 q -0.586348,0 -1.013441,-0.2606 -0.423474,-0.2606 -0.655118,-0.72751 -0.228024,-0.46691 -0.228024,-1.08945 0,-0.62254 0.224405,-1.09669 0.224405,-0.47414 0.633401,-0.74198 0.412615,-0.26784 0.962769,-0.26784 0.32213,0 0.633401,0.10858 0.314891,0.10497 0.568251,0.34385 0.25698,0.23526 0.408996,0.62254 0.152016,0.38728 0.152016,0.9483 v 0.27145 h -3.141668 v -0.55015 h 2.790583 l -0.304032,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.123061,-0.31127 -0.369183,-0.48501 -0.246121,-0.17735 -0.611684,-0.17735 -0.365563,0 -0.626162,0.18097 -0.260599,0.17735 -0.398138,0.46691 -0.137538,0.28593 -0.137538,0.6153 v 0.36557 q 0,0.44881 0.155636,0.7637 0.155635,0.31127 0.434332,0.47414 0.282315,0.15926 0.651498,0.15926 0.238882,0 0.434332,-0.0688 0.195449,-0.0688 0.336607,-0.20631 0.141158,-0.14116 0.217166,-0.34747 l 0.629782,0.17374 q -0.09411,0.30403 -0.318511,0.53567 -0.224404,0.23165 -0.557392,0.36195 -0.329369,0.1303 -0.745604,0.1303 z m 3.825742,0.007 q -0.38366,0 -0.698551,-0.14478 -0.311271,-0.14478 -0.495862,-0.42348 -0.184592,-0.27869 -0.184592,-0.67683 0,-0.34747 0.137539,-0.56463 0.137538,-0.21717 0.365563,-0.34023 0.231643,-0.12668 0.51034,-0.18821 0.278696,-0.0615 0.561012,-0.0977 0.361943,-0.0471 0.589968,-0.0724 0.228024,-0.0253 0.336607,-0.0869 0.112202,-0.0615 0.112202,-0.20993 v -0.0217 q 0,-0.25336 -0.0941,-0.4271 -0.0941,-0.17735 -0.282316,-0.27145 -0.18821,-0.0941 -0.470526,-0.0941 -0.289555,0 -0.495862,0.0905 -0.206308,0.0905 -0.336608,0.22802 -0.12668,0.13392 -0.19183,0.27508 l -0.626167,-0.2061 q 0.155636,-0.36918 0.419855,-0.57549 0.264218,-0.20993 0.582728,-0.29679 0.318511,-0.0869 0.629782,-0.0869 0.202688,0 0.459668,0.0507 0.260599,0.0471 0.499482,0.19183 0.242502,0.14478 0.398137,0.43072 0.159256,0.28231 0.159256,0.75646 v 2.66752 h -0.64064 v -0.55015 h -0.04343 q -0.06877,0.14115 -0.220786,0.29317 -0.152016,0.1484 -0.394518,0.24974 -0.242502,0.10135 -0.586348,0.10135 z m 0.112202,-0.57549 q 0.361943,0 0.611684,-0.14116 0.249741,-0.14116 0.380041,-0.36556 0.130299,-0.22803 0.130299,-0.47415 v -0.56101 q -0.03981,0.047 -0.173732,0.0869 -0.133919,0.0362 -0.307652,0.0651 -0.170114,0.029 -0.332988,0.0507 -0.159255,0.0181 -0.25336,0.029 -0.235264,0.029 -0.441571,0.10134 -0.202689,0.0688 -0.325749,0.20631 -0.123061,0.13392 -0.123061,0.36557 0,0.20992 0.108583,0.35108 0.108583,0.14116 0.296793,0.21355 0.188211,0.0724 0.430713,0.0724 z m 4.509814,-3.56515 v 0.5574 h -2.092032 v -0.5574 z m -1.483967,-0.96277 h 0.651498 v 3.95966 q 0,0.27146 0.108583,0.39814 0.112202,0.12306 0.369182,0.12306 0.06153,0 0.155636,-0.0145 0.09772,-0.0145 0.177352,-0.029 l 0.133919,0.55015 q -0.101344,0.0362 -0.231644,0.0543 -0.12668,0.0181 -0.25336,0.0181 -0.524818,0 -0.817992,-0.27507 -0.293174,-0.2787 -0.293174,-0.77456 z m 3.945182,5.09617 q -0.58635,0 -1.01344,-0.2606 -0.423474,-0.2606 -0.655118,-0.72751 -0.228024,-0.46691 -0.228024,-1.08945 0,-0.62254 0.224405,-1.09669 0.224405,-0.47414 0.633401,-0.74198 0.412616,-0.26784 0.962766,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15202,0.38728 0.15202,0.9483 v 0.27145 h -3.141671 v -0.55015 h 2.790581 l -0.30403,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61169,-0.17735 -0.36556,0 -0.626159,0.18097 -0.260599,0.17735 -0.398138,0.46691 -0.137538,0.28593 -0.137538,0.6153 v 0.36557 q 0,0.44881 0.155635,0.7637 0.155636,0.31127 0.43433,0.47414 0.28232,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14116,-0.14116 0.21717,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.22441,0.23165 -0.5574,0.36195 -0.32936,0.1303 -0.7456,0.1303 z m 4.70526,-0.0869 v -4.04653 h 0.6334 l 0.004,0.90486 h -0.0507 q 0.0833,-0.32937 0.2606,-0.54291 0.18097,-0.21717 0.41986,-0.32575 0.2425,-0.10858 0.5031,-0.10858 0.44157,0 0.71303,0.27145 0.27507,0.27146 0.3547,0.71303 h -0.0869 q 0.0724,-0.30403 0.26422,-0.52482 0.19183,-0.22078 0.46329,-0.34022 0.27508,-0.11944 0.59721,-0.11944 0.35108,0 0.64064,0.15201 0.28955,0.15202 0.45966,0.45967 0.17374,0.30765 0.17374,0.77818 v 2.72905 h -0.6515 v -2.71096 q 0,-0.43795 -0.24612,-0.62616 -0.24612,-0.18821 -0.57187,-0.18821 -0.27146,0 -0.47053,0.11582 -0.19545,0.11221 -0.30403,0.31128 -0.10497,0.19906 -0.10497,0.45604 v 2.64219 h -0.65149 v -2.77611 q 0,-0.3366 -0.22441,-0.54291 -0.2244,-0.20631 -0.56825,-0.20631 -0.23526,0 -0.44519,0.1122 -0.20631,0.10859 -0.33299,0.32575 -0.12668,0.21717 -0.12668,0.5393 v 2.54808 z m 8.1944,0.0869 q -0.58635,0 -1.01344,-0.2606 -0.42347,-0.2606 -0.65512,-0.72751 -0.22802,-0.46691 -0.22802,-1.08945 0,-0.62254 0.2244,-1.09669 0.22441,-0.47414 0.6334,-0.74198 0.41262,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15202,0.38728 0.15202,0.9483 v 0.27145 h -3.14167 v -0.55015 h 2.79058 l -0.30403,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61169,-0.17735 -0.36556,0 -0.62616,0.18097 -0.2606,0.17735 -0.39814,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15564,0.7637 0.15564,0.31127 0.43433,0.47414 0.28232,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14116,-0.14116 0.21717,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.22441,0.23165 -0.5574,0.36195 -0.32936,0.1303 -0.7456,0.1303 z m 2.62047,-0.0869 v -4.04653 h 0.62978 v 0.62255 h 0.0434 q 0.1122,-0.30766 0.39813,-0.49225 0.28956,-0.18821 0.6515,-0.18821 0.0724,0 0.17011,0.004 0.10135,0.004 0.15926,0.007 v 0.65512 q -0.029,-0.007 -0.14478,-0.0217 -0.11582,-0.0145 -0.24612,-0.0145 -0.28955,0 -0.5212,0.12306 -0.22802,0.11945 -0.35832,0.33299 -0.1303,0.20993 -0.1303,0.48501 v 2.5336 z m 4.30713,1.59979 q -0.44881,0 -0.77818,-0.11582 -0.32575,-0.1122 -0.54292,-0.30041 -0.21716,-0.18822 -0.34384,-0.409 l 0.52843,-0.34023 q 0.0869,0.11582 0.21355,0.25698 0.1303,0.14116 0.34747,0.23888 0.22078,0.10135 0.57549,0.10135 0.485,0 0.79627,-0.23164 0.31489,-0.23165 0.31489,-0.73113 v -0.81075 h -0.0615 q -0.0688,0.11582 -0.19545,0.27507 -0.12306,0.15926 -0.35832,0.28232 -0.23164,0.11944 -0.62254,0.11944 -0.48501,0 -0.87229,-0.22802 -0.38728,-0.23165 -0.61168,-0.67322 -0.22441,-0.44157 -0.22441,-1.07497 0,-0.62616 0.22079,-1.08583 0.22078,-0.46329 0.60806,-0.71665 0.3909,-0.25336 0.894,-0.25336 0.3909,0 0.62255,0.1303 0.23526,0.12668 0.36194,0.29318 0.12668,0.16649 0.19545,0.27507 h 0.0615 v -0.64788 h 0.6334 v 4.15149 q 0,0.5212 -0.23526,0.85057 -0.23527,0.33299 -0.63702,0.48862 -0.39814,0.15564 -0.89038,0.15564 z m -0.0181,-2.24405 q 0.36918,0 0.62254,-0.16649 0.25336,-0.17012 0.38366,-0.48501 0.1303,-0.31851 0.1303,-0.76008 0,-0.43071 -0.1303,-0.75646 -0.12668,-0.32937 -0.38004,-0.51396 -0.25336,-0.18821 -0.62616,-0.18821 -0.38366,0 -0.64064,0.19907 -0.25698,0.19545 -0.38728,0.52482 -0.12668,0.32937 -0.12668,0.73474 0,0.41624 0.1303,0.73475 0.1303,0.31851 0.38728,0.49948 0.25698,0.17735 0.63702,0.17735 z m 4.62564,0.73113 q -0.58635,0 -1.01345,-0.2606 -0.42347,-0.2606 -0.65511,-0.72751 -0.22803,-0.46691 -0.22803,-1.08945 0,-0.62254 0.22441,-1.09669 0.2244,-0.47414 0.6334,-0.74198 0.41261,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15201,0.38728 0.15201,0.9483 v 0.27145 h -3.14167 v -0.55015 h 2.79059 l -0.30404,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61168,-0.17735 -0.36556,0 -0.62616,0.18097 -0.2606,0.17735 -0.39814,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15564,0.7637 0.15563,0.31127 0.43433,0.47414 0.28231,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14115,-0.14116 0.21716,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.2244,0.23165 -0.55739,0.36195 -0.32937,0.1303 -0.7456,0.1303 z m 4.70526,-0.0869 v -4.04653 h 0.62978 v 0.62255 h 0.0434 q 0.1122,-0.30766 0.39813,-0.49225 0.28956,-0.18821 0.6515,-0.18821 0.0724,0 0.17012,0.004 0.10134,0.004 0.15925,0.007 v 0.65512 q -0.029,-0.007 -0.14478,-0.0217 -0.11582,-0.0145 -0.24612,-0.0145 -0.28955,0 -0.5212,0.12306 -0.22802,0.11945 -0.35832,0.33299 -0.1303,0.20993 -0.1303,0.48501 v 2.5336 z m 4.36866,0.0869 q -0.58635,0 -1.01344,-0.2606 -0.42348,-0.2606 -0.65512,-0.72751 -0.22803,-0.46691 -0.22803,-1.08945 0,-0.62254 0.22441,-1.09669 0.2244,-0.47414 0.6334,-0.74198 0.41262,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.409,0.62254 0.15201,0.38728 0.15201,0.9483 v 0.27145 h -3.14166 v -0.55015 h 2.79058 l -0.30403,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36919,-0.48501 -0.24612,-0.17735 -0.61168,-0.17735 -0.36556,0 -0.62616,0.18097 -0.2606,0.17735 -0.39814,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15564,0.7637 0.15563,0.31127 0.43433,0.47414 0.28231,0.15926 0.6515,0.15926 0.23888,0 0.43433,-0.0688 0.19545,-0.0688 0.33661,-0.20631 0.14115,-0.14116 0.21716,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.2244,0.23165 -0.55739,0.36195 -0.32937,0.1303 -0.7456,0.1303 z m 6.01549,1.42605 h -0.65149 v -2.13908 h -0.0507 q -0.0652,0.1122 -0.19545,0.28231 -0.12668,0.1665 -0.36194,0.30042 -0.23164,0.1303 -0.61892,0.1303 -0.5031,0 -0.89038,-0.25698 -0.38728,-0.25698 -0.60445,-0.72751 -0.21716,-0.47053 -0.21716,-1.11478 0,-0.64064 0.21716,-1.10755 0.22079,-0.47053 0.60807,-0.72389 0.38728,-0.25336 0.89038,-0.25336 0.39452,0 0.62616,0.1303 0.23164,0.1303 0.3547,0.29679 0.12668,0.16288 0.19183,0.27146 h 0.0724 v -0.64788 h 0.62978 z m -1.78076,-2.00878 q 0.36919,0 0.62255,-0.19183 0.25336,-0.19545 0.38366,-0.5393 0.1303,-0.34384 0.1303,-0.79265 0,-0.44881 -0.1303,-0.7818 -0.12668,-0.33661 -0.38004,-0.52482 -0.25337,-0.18821 -0.62617,-0.18821 -0.38366,0 -0.64064,0.19907 -0.25336,0.19907 -0.38004,0.53929 -0.12668,0.33661 -0.12668,0.75647 0,0.42347 0.12668,0.77094 0.1303,0.34384 0.38728,0.55015 0.25698,0.20269 0.6334,0.20269 z m 4.29627,0.54653 q -0.40899,0 -0.72026,-0.16649 -0.30766,-0.17011 -0.48139,-0.51034 -0.17011,-0.34023 -0.17011,-0.85057 v -2.5698 h 0.6515 v 2.51551 q 0,0.46691 0.24612,0.73113 0.24612,0.26421 0.66959,0.26421 0.28956,0 0.51758,-0.12668 0.23165,-0.12668 0.36556,-0.36918 0.13392,-0.24612 0.13392,-0.58997 v -2.42502 h 0.65512 v 4.04653 h -0.62978 v -0.98087 h 0.0869 q -0.18821,0.56826 -0.53568,0.7999 -0.34385,0.23164 -0.78904,0.23164 z m 4.7125,0.0362 q -0.58634,0 -1.01344,-0.2606 -0.42347,-0.2606 -0.65511,-0.72751 -0.22803,-0.46691 -0.22803,-1.08945 0,-0.62254 0.22441,-1.09669 0.2244,-0.47414 0.6334,-0.74198 0.41261,-0.26784 0.96277,-0.26784 0.32213,0 0.6334,0.10858 0.31489,0.10497 0.56825,0.34385 0.25698,0.23526 0.40899,0.62254 0.15202,0.38728 0.15202,0.9483 v 0.27145 h -3.14167 v -0.55015 h 2.79059 l -0.30404,0.20269 q 0,-0.39814 -0.12668,-0.70579 -0.12306,-0.31127 -0.36918,-0.48501 -0.24612,-0.17735 -0.61168,-0.17735 -0.36557,0 -0.62617,0.18097 -0.26059,0.17735 -0.39813,0.46691 -0.13754,0.28593 -0.13754,0.6153 v 0.36557 q 0,0.44881 0.15563,0.7637 0.15564,0.31127 0.43434,0.47414 0.28231,0.15926 0.65149,0.15926 0.23889,0 0.43434,-0.0688 0.19545,-0.0688 0.3366,-0.20631 0.14116,-0.14116 0.21717,-0.34747 l 0.62978,0.17374 q -0.0941,0.30403 -0.31851,0.53567 -0.2244,0.23165 -0.55739,0.36195 -0.32937,0.1303 -0.74561,0.1303 z m 3.99586,0 q -0.41624,0 -0.74199,-0.11944 -0.32213,-0.12307 -0.53205,-0.36195 -0.20993,-0.23888 -0.28232,-0.58635 l 0.61892,-0.14839 q 0.0869,0.33299 0.32575,0.48862 0.24251,0.15564 0.60445,0.15564 0.42347,0 0.67321,-0.18098 0.25336,-0.18097 0.25336,-0.43071 0,-0.20993 -0.14839,-0.34746 -0.14478,-0.14116 -0.44519,-0.20993 l -0.67322,-0.15926 q -0.55015,-0.1303 -0.81799,-0.40175 -0.26784,-0.27508 -0.26784,-0.70217 0,-0.34747 0.19545,-0.61169 0.19545,-0.26784 0.53206,-0.41623 0.34022,-0.15202 0.77094,-0.15202 0.41623,0 0.70579,0.12668 0.29317,0.12306 0.47414,0.34385 0.18459,0.21716 0.27508,0.5031 l -0.58997,0.15202 q -0.0832,-0.21717 -0.27869,-0.39452 -0.19183,-0.17736 -0.58273,-0.17736 -0.36195,0 -0.60445,0.1665 -0.23888,0.16649 -0.23888,0.41985 0,0.22441 0.16287,0.36195 0.16288,0.13392 0.51758,0.21716 l 0.61169,0.14478 q 0.55015,0.1303 0.81437,0.40538 0.26422,0.27145 0.26422,0.68769 0,0.3547 -0.20269,0.6334 -0.19907,0.27508 -0.56101,0.43433 -0.35833,0.15926 -0.83247,0.15926 z m 4.12977,-4.1334 v 0.5574 h -2.09203 v -0.5574 z m -1.48397,-0.96277 h 0.6515 v 3.95966 q 0,0.27146 0.10858,0.39814 0.1122,0.12306 0.36918,0.12306 0.0615,0 0.15564,-0.0145 0.0977,-0.0145 0.17735,-0.029 l 0.13392,0.55015 q -0.10134,0.0362 -0.23164,0.0543 -0.12668,0.0181 -0.25336,0.0181 -0.52482,0 -0.81799,-0.27507 -0.29318,-0.2787 -0.29318,-0.77456 z"
       id="text13"
       aria-label="Create merge request" /></g></symbol>
</svg>

<style>
  .inline {display: inline-block; height: 1.1em; position: relative; bottom: -0.25em;}
</style>
